/* stylelint-disable unknownAtRules */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #110b49ee;
  --foreground: #171717;
  /* font variables are set by next/font in layout via CSS variables */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d3b3b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
